/* Mont Black — Remove shadows / seams */

._1ENHEsrSLcTRtPQFl1F-wL {
  border: none !important;
}
._3Z7VQ1IMk4E3HsHvrkLNgo,
._3Z7VQ1IMk4E3HsHvrkLNgo.Maximized,
.Maximized ._3Z7VQ1IMk4E3HsHvrkLNgo,
._3vCzSrrXZzZjVJFZNg9SGu,
.Maximized ._3vCzSrrXZzZjVJFZNg9SGu,
._3vCzSrrXZzZjVJFZNg9SGu.Maximized {
  box-shadow: none !important;
}
._1bGewp3tfzqAF6fVTFFUOz .UkR3sY319PuaUNuUWks2K,
._1bGewp3tfzqAF6fVTFFUOz .UkR3sY319PuaUNuUWks2K.Maximized {
  box-shadow: none !important;
}
.RGNMWtyj73_-WdhflrmuY ._2CmrnGY-Amtd83ScJkFvx2 {
  box-shadow: none !important;
  min-height: 0 !important;
  height: auto !important;
}
._3pXasCUulX4jjqO79s4q_F {
  background-color: transparent !important;
  background: transparent !important;
}
.MillenniumSettings {
  border-top: none !important;
}
